openapi: 3.2.0
info:
  title: Dsco Platform Invoices API
  description: The Dsco Platform API v3 provides dropship and marketplace commerce integration for retailers and suppliers. It supports order management, catalog synchronization, inventory updates, shipment tracking, returns processing, and invoice workflows via streaming and batch endpoints. Authentication uses OAuth2 bearer tokens obtained from the token endpoint.
  version: v3
  contact:
    name: Rithum Support
    url: https://knowledge.rithum.com
  termsOfService: https://www.rithum.com/terms-of-service/
  license:
    name: Proprietary
servers:
- url: https://api.dsco.io/api/v3
  description: Dsco Platform API v3
tags:
- name: Invoices
  description: Invoice processing
paths:
  /supplier/invoice-in:
    post:
      operationId: supplierCreateInvoice
      summary: Create Invoice
      description: Supplier operation to submit invoices for fulfilled orders. Supports small batch mode only.
      tags:
      - Invoices
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceBatchRequest'
      responses:
        '200':
          description: Invoice created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '401':
          description: Unauthorized
components:
  schemas:
    BatchResponse:
      type: object
      properties:
        batchId:
          type: string
          description: Unique identifier for the batch operation
        status:
          type: string
          enum:
          - accepted
          - processing
          - completed
          - failed
        errors:
          type: array
          items:
            $ref: '#/components/schemas/BatchError'
    InvoiceItem:
      type: object
      properties:
        orderId:
          type: string
        invoiceNumber:
          type: string
        amount:
          type: number
          format: float
        invoiceDate:
          type: string
          format: date
    InvoiceBatchRequest:
      type: object
      properties:
        invoices:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceItem'
    BatchError:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        field:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
